body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 800px;
  background-image: url("img/banner/banner3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 100px;
}

.header-section {
  text-align: right;
  padding-right: 130px;
  margin-top: 150px;
}

.header-section-title {
  color: #FFF;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  line-height: .7;
}

.header-section-p {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: 5px;
  opacity: .8;
}

.header-btn {
  border-radius: 5px;
  background: #FFF;
  color: #005FAC;
  font-size: 17px;
  font-weight: 600;
  border: 0;
  padding: 10px 15px;
  margin-top: 20px;
}

/* statistics section started */
.statistics {
  margin: 100px 250px;
}

.statistics-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistics-content h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  line-height: .2;
  padding-bottom: 30px;
}

.statistics-content p {
  color: #444343;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: .5;
}

.img-size {
  height: 10px;
  width: 10px;
}

.stats {
  margin-left: -40px;
  margin-top: 28px;
  color: #444343;
  font-size: 16px;
  font-weight: 400;
}

/* statistics section end */

/* my plan section started */

.plan {
  height: 800px;
  margin: 150px 230px;
}

.my-plan-heading {
  text-align: center;
  margin-bottom: 80px;
}

.my-plan-heading h2 {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

.my-plan-content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.single-plan-content h3 {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
}

.single-plan-content h5 {
  color: #737272;
  font-size: 25px;
  line-height: .2;
  margin-top: 10px;
  font-weight: 500;
}

/* my plan section end */


/* contact section started */
/* contact section end */